body {
  background: #211333;
}

#header {
  color: #eed484;
}

/* Change color for our function  */
.title {
  color: #eed484;
}

.dropdown-menu label{
  color: #eed484;
  border-color: #eed484;
}

.CustomContent {
  color: #eed484;
  border-color: #eed484;
}
#FontSelector {
  color: #eed484;
  border-bottom: 1.5px solid #eed484;
}
#AnimSelector {
  color: #eed484;
  border-bottom: 1.5px solid #eed484;
}
#speed {
  color: #eed484;
  border-bottom: 1.5px solid #eed484;
}
#text-effect {
  color: #eed484;
  border-bottom: 1.5px solid #eed484;
}
#wob {
  color: black;
}
#FW {
  color: black;
}
#BGSelector {
  color: #eed484;
  border-bottom: 1.5px solid #eed484;
}
#size{
  color: #eed484;
  border-bottom: 1.5px solid #eed484;
  
}
#text-effect {
  color: #eed484;
  border-bottom: 1.5px solid #eed484;
}
/* End  */
#left-wing {
  color: #eed484;
}

#right-wing {
  color: #eed484;
}

#typing-area, #theme-area {
  background: #2e1a47;
}

#text-display {
  color: #eed484;
}

#input-field {
  background: #211333;
  color: #eed484;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #211333;
  color: #eed484;
}

#footer {
  color: #eed484;
}

.highlight {
  color: #a56de2;
}

.correct {
  color: #68b723;
}

.wrong {
  color: #c6262e;
}
