@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Danfo&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jaro:opsz@6..72&display=swap");

body {
  /* 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Roboto Mono", monospace;

  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto Mono;
  line-height: 1.6rem; */

  background: #5dcfb8;
  background-image: linear-gradient(
    135deg,
    #5dcfb8 23%,
    #d73811 23%,
    #d73811 46%,
    #e16b06 46%,
    #e16b06 69%,
    #e1ba45 69%,
    #e1ba45 92%,
    #5b3217 92%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  min-height: 100vh;
  align-items: center;
  line-height: 1.6rem;
}

/* Set background for website  */
.title {
  color: #ffffff;
}
.dropdown-menu label {
  color: #ffffff;
  border-color: #ffffff;
  border: 1px solid white;
}

.CustomContent {
  color: #ffffff;
  border-color: #ffffff;
  border: 1px solid white;
}
#FontSelector {
  color: #ffffff;
}
#AnimSelector {
  color: #ffffff;
}
#speed {
  color: #ffffff;
}
#footer {
  color: #ffffff;
}
#left-wing {
  color: white;
}

#size {
  color: white;
}

/* End  */

.container {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-inline: 4rem;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*outer box*/
.outerbox {
  position: relative; /* Changed to relative */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  width: auto;
  height: 25rem;
  background-color: black; /* Initial background color */
  border-radius: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  overflow: hidden; /* Added to prevent overflow */
}

/*LED Text*/
#led-text {
  position: absolute; /* Added to overlay on top of background canvas */
  color: black;
  width: 100%;
  height: 100%;
}

/* Background Canvas */
#backgroundCanvas {
  position: absolute; /* Added to ensure it fills the outer box */
  width: 100%;
  height: 100%;
}

/*Input text and fullscreen button*/
.Input_Fullscreen {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#Input {
  width: 91rem;
  height: 2rem;
  font-family: "Roboto Mono", monospace;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  transition: all 1s;
}

.FSbutton {
  font-family: "Roboto Mono", monospace;
  height: 2.7rem;
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  font-weight: bold;
  background-color: white;
  transition: all 0.3s;
  margin-left: 1rem;
}

/*Input field effect*/
#Input:not(:placeholder-shown) {
  background-color: whitesmoke;
  font-weight: bold;
}

#Input:focus {
  outline: none;
  box-shadow: 3px 3px 3px grey;
}

/*button effects*/
.FSbutton:hover {
  box-shadow: 3px 3px 3px grey;
}

.FSbutton:active {
  box-shadow: 0px 0px 0px;
  background-color: grey;
  transition-duration: 0.3s;
  color: white;
}

.FSbutton:focus {
  outline: none;
  box-shadow: 3px 3px 3px grey;
}

/*Dropdown Menu*/
.dropdown-menu {
  padding: 0.5rem;
  padding-inline: 3.5rem;
  margin: 0.6rem;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.dropdown-menu ul {
  list-style-type: "> " !important;
  list-style-position: outside;
}

.dropdown-menu label {
  cursor: pointer;
  /* border: 1px solid black; */
  padding: 0.5rem;
  border-radius: 0.3rem 0.3rem 0 0;
  width: auto;
}

.CustomContent {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  /* border: 1px solid black; */
  border-top: 0px;
  max-height: auto;
}

#CustomMenu {
  display: none; /*hide checkbox */
}

/*Content*/
/*Color Picker*/
.color {
  padding: 0.3rem;
  margin-bottom: 10px;
}

#ColorPicker {
  position: relative;
  top: 6px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border: none;
}

#ColorPicker::-webkit-color-swatch {
  border: 2px solid black;
  border-radius: 0.3rem;
}

#ColorPicker::-moz-color-swatch {
  border: 2px solid black;
  border-radius: 0.3rem;
}

.font {
  padding: 0.3rem;
  margin-bottom: 10px;
}

/*Font Selector*/
#FontSelector {
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-bottom: 1.5px solid black;
  padding: 0.2rem;
  cursor: pointer;
  width: 140px;
}

#FontSelector:focus {
  outline: none;
  border-bottom: 2px solid skyblue;
}

/*Font Type*/
.danfo {
  font-family: "Danfo", sans-serif;
}

.jaro {
  font-family: "Jaro", sans-serif;
}

.asap {
  font-family: "Asap", sans-serif;
  font-weight: 600;
}

.ibm {
  font-family: "IBM Plex Mono", monospace;
}

#AnimSelector {
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-bottom: 1.5px solid black;
  padding: 0.2rem;
  cursor: pointer;
  width: 140px;
}

#AnimSelector:focus {
  outline: none;
  border-bottom: 2px solid skyblue;
}

#text-effect{
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-bottom: 1.5px solid black;
  padding: 0.2rem;
  cursor: pointer;
  width: 140px;
}

#text-effect{
  outline: none;
  border-bottom: 2px solid skyblue;
}

#speed {
  margin-bottom: 10px;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-bottom: 1.5px solid black;
  padding: 0.2rem;
  width: 80px;
}

#speed:focus {
  outline: none;
  border-bottom: 2px solid skyblue;
}

footer {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Add the missing value here */
  font-family: "Roboto Mono", monospace;
  padding: 1rem;
}

.SBC {
  display: flex;
  margin-bottom: 10px;
}

#TCP {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  height: 2rem;
  width: 2rem;
  border: none;
  bottom: 5px;
  margin-left: 4px;
}

#TCP::-webkit-color-swatch {
  border: 2px solid black;
  border-radius: 0.3rem;
}

#TCP::-moz-color-swatch {
  border: 2px solid black;
  border-radius: 0.3rem;
}

.animation {
  margin-bottom: 10px;
}

.BS {
  padding-top: 10px;
}

.AS {
  margin-bottom: 10px;
}

.BA {
  margin-bottom: 10px;
}

#BGSelector {
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-bottom: 1.5px solid black;
  padding: 0.2rem;
  width: 140px;
  color: white;
}

#BGSelector:focus {
  outline: none;
  border-bottom: 2px solid skyblue;
}

#size {
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-bottom: 1.5px solid black;
  padding: 0.2rem;
  width: 70px;
}

#size:focus {
  outline: none;
  border-bottom: 2px solid skyblue;
}

.FS {
  margin-bottom: 20px;
}
.danfo {
  color: black;
}
.jaro {
  color: black;
}
.asap {
  color: black;
}
.ibm {
  color: black;
}
#scroll {
  color: black;
}
#float {
  color: black;
}
#reset {
  color: black;
}
#R {
  color: black;
}
#F {
  color: black;
}

  
#FW{
  color: black;
}
#wob{
  color: black;
}
#startBlinking {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border: none;
  color: white;
  padding: 4px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#startBlinking:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  transform: scale(1.1);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

#blinkText {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  display: none;
}

@media (max-width: 1540px) {
  main {
    width: 1400px;
  }
  .outerbox,
  .Input_Fullscreen,
  .dropdown-menu {
    width: 1300px;
  }
}

@media (max-width: 1280px) {
  main {
    width: 1100px;
  }
  .outerbox,
  .Input_Fullscreen,
  .dropdown-menu {
    width: 950px;
  }
}

@media (max-width: 975px) {
  main {
    width: 930px;
  }
  .outerbox,
  .Input_Fullscreen,
  .dropdown-menu {
    width: 930px;
  }
}

@media (max-width: 930px) {
  body {
    width: 900px;
  }

  main {
    width: 900px;
  }

  .outerbox,
  .Input_Fullscreen,
  .dropdown-menu {
    width: 900px;
  }
}

@media (max-width: 666px) {
  main {
    width: 600px;
  }
  .outerbox,
  .Input_Fullscreen,
  .dropdown-menu {
    width: 500px;
  }
}

@media (max-width: 464px) {
  main {
    width: 430px;
  }
  .outerbox,
  .Input_Fullscreen,
  .dropdown-menu {
    width: 400px;
    overflow: visible;
  }
}
