@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: Roboto Mono;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*outer box*/
.outerbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: auto;
    height: 25rem;
    background-color: black; /*NEED IT TO BE Changeable base on user demand*/
    border-radius: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

/*Input text and fullscreen button*/
.Input_Fullscreen{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100rem;
}

#input{
    width: 91rem;
    height: 2rem;
    font-family: Roboto Mono;
    border: 1px solid black;
    border-radius: .3rem;
    padding: .3rem;
    transition: all 1s;
}

.FSbutton{
    font-family: Roboto Mono;
    height: 2.7rem;
    padding: .3rem;
    border: 1px solid black;
    border-radius: .3rem;
    font-weight: bold;
    background-color: white;
    transition: all .3s;
}

/*Input field effect*/
#input:not(:placeholder-shown){
    background-color: whitesmoke;
    font-weight:bold;
}

#input:focus{
    outline: none;
    box-shadow: 3px 3px 3px grey;
}

/*button effects*/
.FSbutton:hover{
    box-shadow: 3px 3px 3px grey;
}

.FSbutton:active{
    box-shadow: 0px 0px 0px;
    background-color: grey;
    transition-duration: .3s;
    color: white;
}

.FSbutton:focus{
    outline: none;
    box-shadow: 3px 3px 3px grey;
}
/*--------------------------*/

/*Dropdown Menu*/
.dropdown-menu{
    padding: .5rem;
    margin: .6rem;
    width: 100rem;
}

.dropdown-menu ul{
    list-style-type: "> " ;
}

.dropdown-menu label{
    cursor: pointer;
    border: 1px solid black;
    padding: .5rem;
    border-radius: .3rem;
}

.CustomContent{
    overflow: hidden;
    padding: .5rem;
    border: none;
    max-height: 0px;
}

#CustomMenu{
    display: none; /*hide checkbox*/
}

/*Checked, Unchecked toggle*/
input:checked ~ label{  /*For label "Custom"*/
    display: block;
    border: 1px solid black;
    border-radius: .3rem .3rem 0rem 0rem;
    transition: all .4s ease-out;
    max-width: 90rem;
}

input:checked ~ .CustomContent{  /*For the content*/
    display: block;
    max-height: 500px;
    border: 1px solid black;
    border-top: 0px;
    transition: max-height .5s ease-in-out;
    transition-delay: .4s;
    max-width: 90rem;
}

input:not(:checked) ~ label{
    display: block;
    max-width: 100px;
    transition: max-width .7s ease-out;
    transition-delay: .7s; 
} 

input:not(:checked) ~ .CustomContent{
    max-height: 0px;
    transition: all .7s ease-in-out;
    border-top: 0px;
    border: 1px solid black;
    opacity: 0;    
    max-width: 90rem;
}
/*--------------------------*/

/*Content*/
/*Color Picker*/
.color{
    padding: .3rem;
}

#ColorPicker{
    position: relative;
    top: 6px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border: none;
}

#ColorPicker::-webkit-color-swatch{
    border: 2px solid black;
    border-radius: .3rem;
}

#ColorPicker::-moz-color-swatch{
    border: 2px solid black;
    border-radius: .3rem;
}

.font{
    padding: .3rem;
}

/*Font Selector*/
#FontSelector{
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border-bottom: 1.5px solid black;
    padding: .2rem;
    cursor: pointer;
    width: 100px;
}

#FontSelector:focus{
    outline: none;
    border-bottom: 2px solid skyblue;
}

footer{ 
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: Roboto Mono;
    padding: 1rem;
}

